# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Secrets
.env
.env.*
*.pem
*.key

# Docker/Postgres
pgdata/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
